* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #f6f6f6;
}
.front_web {
  opacity: 1;
  display: none;
  background: linear-gradient(180deg, rgba(224, 143, 99) 120px, rgba(224, 143, 99, 0.01) 100%);
  width: 100%;
  height: 700px;
  margin-top: 120px;
  transition: 0.5;
}
.front_web .logo_header {
  width: 100%;
  height: 120px;
  background-color: rgba(224, 143, 99);
  margin-top: -120px;
}
.front_web .logo_header .logo_content {
  display: block;
  width: 160px;
  height: 120px;
  background-image: url('../assent/Flea_logo.png');
  background-size: 100%;
}
.front_web .my_word {
  text-align: center;
  margin: 30px auto;
  color: white;
}
.front_web .star {
  display: block;
  text-decoration: none;
  height: 66px;
  width: 240px;
  border-radius: 33px;
  position: relative;
  margin: 100px auto;
  margin-top: 100px;
  text-align: center;
  line-height: 66px;
  color: white;
  overflow: hidden;
  transition: 0.6s;
  user-select: none;
  cursor: pointer;
}
.front_web .star::before {
  content: '';
  display: block;
  position: absolute;
  width: 400%;
  height: 100%;
  border-radius: 33px;
  background: linear-gradient(90deg, rgba(224, 143, 99) 25%, #fd1851 75%, #d70090 100%);
  z-index: -1;
  transition: 0.8s;
}
.front_web .star:hover:before {
  transform: translateX(-75%);
}
.front_web .star:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.front_web p {
  margin-top: 50px;
  text-align: center;
  color: aliceblue;
  text-decoration: underline red solid 2px;
}
.front_web .tips {
  text-align: center;
}
@keyframes dying {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.animation-dying {
  animation: dying 0.6s forwards linear;
}
@keyframes trans {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150px);
  }
}
.animation-trans {
  animation: trans 0.6s linear;
}
@keyframes index {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
